@use '~/assets/styles/variables' as v;

.element {
  padding: 24px !important;
  padding-bottom: 0px !important; 
}

.search {
  display: flex;
  flex-direction: column;
  gap: v.$spacing;
  overflow: auto;
  width: 100%;
  height: 100%;
}

.search-container {
  width: 300px;
  height: 32px;
  background-color: v.$element;
  outline: none;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-inline: 6px;
  gap: 6px;
  margin-bottom: 16px;

  input {
    background-color: transparent;
    border: none;
    font-size: 14px;
    outline: none;
    color: #8b8b8b;
    width: 100%;
    height: 32px;
  }
}


.first-result {
  display: flex;
  flex-direction: column;
  align-items: left !important;
  gap: 8px;
  font-size: 0.9em;
  color: #ffffff;
  background-color: #1a1a1a;
  padding: 12px;
  width: 500px;

  img {
    width: 200px;
    height: 200px;
    border-radius: 12px;
  }

  .musicTitle {
    font-size: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
}

.first-result:hover {
  background-color: #1f1f1f;
}

.first-result:hover {
  background-color: #1f1f1f;
}

ul {
  display: inline-block;
  padding-left: 20px;
  margin: 0;
}

li {
  list-style-type: none;
  margin-bottom: 10px;
  cursor: pointer;
  width: 50%;
  display: flex;

  &:not(.first-result) {
    align-items: center;

    background-color: #1a1a1a;
  }
  img {
    height: 70px;
    margin-right: 10px;
  }
}